    a {
      positionï¼šabsolute;
      width: 100%;
      height: 100%;
      text-decoration:none;
      color:#fff;
    } 

    body { 
      font-family:Microsoft YaHei;
      width: 100%;
      height: 100%;
      left: 0px;
      top:0px;
    }
    #banner {
      position: absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
    }
    #webgl {
      position: absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    #paticle {
      position: absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    #background {
      -webkit-transition: all 0.7s ease-in-out;
      position: absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      background: #000;
      overflow: hidden;
      visibility: visible;
    }
    #add {
      background-size: 100% auto;
      -webkit-transition: all 0.8s ease-in-out;
      position: absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0);
      overflow: hidden;
      overflow: hidden;
      pointer-events:auto;
    }
    .floatTag {
      -webkit-transition: all 1.5s ease-in-out;
      top:200px;
      left: 200px;
    }
    .video {
      position: absolute;
      top:0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 100000;
    }
    .title {
      -webkit-transition: all 1.0s ease-in-out;
      position: absolute;
      top:20%;
      left: 10%;
      font-size: 20px;
      padding: 12px 12px 12px 12px;
      color:rgba(255, 255, 255, 1);
      background: rgba(0, 0, 0, 0.5);
      z-index: 10000;
      opacity: 0;
    }
    .divDisplay {
      z-index: 100;
    }
    .blur {
      -webkit-filter:blur(6px);
    }


    #controller {
      -webkit-transition: all 0.6s ease-in-out;
      position: absolute;
      left: 0px;
      top:0%;
      width:100%;
      height: 86%;
      background: rgba(250, 250, 250, 1);
      z-index: 120000;
    }
    .controller-hover {
      background: rgba(255, 255, 255, 0.1);
      top:0%;
    }
    .discrible {
      top:2px;
      text-decoration: none;
      vertical-align:middle;
      text-align: center;
      position: relative;
      display: inline-block;
      color:rgba(160, 230, 250, 1);
      height: 20px;
      font-size: 12px;
      cursor: pointer;
      margin: 2px 1px 2px 10px;
    }
    .signature {
      font-weight: bold;
      position: absolute;
      width: 100%;
      font-size: 14px;
      color:rgba(0, 120, 150, 1);
      text-align: center;
      top: 96%;
    }

    .article{
      position: absolute;
      letter-spacing:2px;
      line-height:19px;
      font-size: 15px;
      font-weight: normal;
      color:rgba(0, 80, 80, 1);
      left: 20%;
      width: 60%;
      top:30%;
      text-shadow: rgb(255, 255, 255) 1px 1px 2px;
      /*-webkit-filter: drop-shadow(0px 0px 8px rgba(250, 255, 255, 0.65));*/
      /*-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.51);*/
    }
    .articleTitle{
      letter-spacing:10px;
      position: absolute;
      font-weight: bold;
      font-size: 55px;
      color:rgba(0, 155, 155, 1);
      left: 20%;
      width: 60%;
      top:20%;
      text-shadow: rgba(255, 255, 255, 1) 1px 1px 1px;
      /*-webkit-filter: drop-shadow(0px 0px 8px rgba(250, 255, 255, 0.65));*/
      /*-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.51);*/
    }

    .start{
      -webkit-transition: all 0.2s ease-in-out;
      position: absolute;
      border-radius: 2px;
      font-size: 18px;
      color:rgba(250, 250, 250, 1);
      padding: 12px 24px 12px 24px;
      left: 50%;
      top:85%;
      background: rgba(0,200,200,1);
      cursor: pointer;
    }

    .start:hover{
      background: rgba(0,240,240,1);
    }

    #push{
      -webkit-transition: all 0.2s ease-in-out;
      position: absolute;
      border-radius: 2px;
      font-size: 18px;
      color:rgba(250, 250, 250, 1);
      padding: 12px 24px 12px 24px;
      left: 38%;
      top:85%;
      background: rgba(100,180,0,1);
      cursor: pointer;
    }

    #push:hover{
      background: rgba(130,210,0,1);
    }

   #bg{
      background-image: url(../data/bg.png);
      position: absolute;
      /*background: #fff;*/
      left: 30%;
      width: 40%;
      top:55%;
      height: 25%
    }
    .zhongtou{
      position: absolute;
      top: 93%;
      left: 90%;
      width: 8%;
      height: 5%;
      color:#fff;
      background-image: url('http://open-wedding.qiniudn.com/png%E4%BC%97%E6%8A%95%E5%A4%A9%E5%9C%B0%E6%96%87%E5%AD%97logo.png');
      background-repeat:no-repeat;
      /*background-position:100% 100%;*/
      -webkit-background-size: 100% 100%; 
      background-origin: 0% 0%;
      cursor: pointer;
      opacity: 0.6;
    }
